<html>
<head>
    <title>dfuse diagnose</title>
    <link rel="stylesheet" type="text/css" href="/dfuse.css">
</head>
<body>
<div style="width:90%; margin: 2rem auto;">
    <h2>Diagnosis - {{ .Protocol }} - {{ .Namespace }}</h2>
    <ul>
        <li>
            <a href="/v1/{{ .Protocol }}/block_holes" target="_blank">
                Verify holes in Blocks logs - <small>{{ .BlockStore }}</small>
            </a>
        </li>
        <li>
            <a href="/v1/{{ .Protocol }}/search_holes" target="_blank">
                Verify holes in Search Indices - <small>{{ .SearchIndexesStore }}</small>
            </a>
        </li>
        <li>
            <a href="/v1/{{ .Protocol }}/db_holes" target="_blank">
                Verify holes in {{ .Protocol }} DB  - <small>{{ .KVDBConnection }}</small>
            </a>
        </li>
        {{ if .IsEOS }}
        <li>
            <a href="/v1/{{ .Protocol }}/verify_stats" target="_blank">
                Verify Stats (Chain Activity)
            </a>
        </li>
        <li>
            <a href="/v1/{{ .Protocol }}/verify_stats_top_accounts" target="_blank">
                Verify Stats (Top Accounts)
            </a>
        </li>
        {{ end }}

        {{ if .IsETH }}
        {{ end }}
        <li><a href="/v1/diagnose/services_health_checks" target="_blank">All services's endpoints health checks</a>
    </ul>
</div>
</body>
</html>
